pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dfParseJsonSobject_copy1",
						"type": "DataFlowReference",
						"parameters": {
							"outFile": {
								"value": "'@{pipeline().parameters.outFile}'",
								"type": "Expression"
							},
							"pFilename": "'sobjects_raw.json'"
						},
						"datasetParameters": {
							"sink1": {
								"outFile": {
									"value": "@pipeline().parameters.outFile",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "wtriteSobjectList",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": {
						"value": "https://salesforce69.blob.core.windows.net/contsalesforce/dfOutput.csv",
						"type": "Expression"
					},
					"body": {
						"value": "@activity('Data flow1').outputactivity('get lsit of Sobject').output",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com"
					}
				}
			}
		],
		"parameters": {
			"outFile": {
				"type": "string",
				"defaultValue": "out.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-22T12:05:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}