pipeline/pl_Salesforce_Store_Token_And_sobject.json
{
	"name": "pl_Salesforce_Store_Token_And_sobject",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@pipeline().parameters.url",
						"type": "Expression"
					},
					"body": {
						"value": "@pipeline().parameters.body",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable entire Json string",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonString",
					"value": {
						"value": "@{activity('Web1').output}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set variable accesstoken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AccessToken",
					"value": {
						"value": "@activity('Web1').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get lsit of Sobject",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set variable accesstoken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Accept": "application/json",
						"Authorization": {
							"value": "@concat('Bearer ' , variables('AccessToken')    )",
							"type": "Expression"
						}
					},
					"url": {
						"value": "https://d5w0000050tsiea2-dev-ed.my.salesforce.com/services/data/v48.0/sobjects",
						"type": "Expression"
					},
					"body": {
						"value": "@pipeline().parameters.body",
						"type": "Expression"
					}
				}
			},
			{
				"name": "write Key Json file to output",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": {
						"value": "https://salesforce69.blob.core.windows.net/contsalesforce/token.json",
						"type": "Expression"
					},
					"body": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com"
					}
				}
			},
			{
				"name": "store acesstoken json string",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable entire Json string",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_StoreJSonFile_removeLineFeed_template",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"jsonContent": {
							"value": "@variables('jsonString')",
							"type": "Expression"
						},
						"pFileName": "sfKeysRaw"
					}
				}
			},
			{
				"name": "Set variable entire Json string_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get lsit of Sobject",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonSobjectList",
					"value": {
						"value": "@replace(activity('get lsit of Sobject').output.sobjects[0],'\\n','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "store acesstoken json string _copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable entire Json string_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_StoreJSonFile_removeLineFeed_template",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"jsonContent": {
							"value": "@variables('jsonString')",
							"type": "Expression"
						},
						"pFileName": "sfSobjecListRaw"
					}
				}
			}
		],
		"parameters": {
			"url": {
				"type": "string",
				"defaultValue": "https://d5w0000050tsiea2-dev-ed.my.salesforce.com/services/oauth2/token"
			},
			"body": {
				"type": "string",
				"defaultValue": "grant_type=password&client_id=3MVG95jctIhbyCpo.M5oBPNmMoXIoJEdLTtD9y5UqEWqmzhWCzLySRVZ.SS0Kr12DoRR_3nfxftySKlT0sMnx&client_secret=05393E3026C411587F41159D41D8FD848842A3511555425DD7288DB3D91BB9D3&username=Umesh.Srinivasaiah@sita.aero&password=S@lesForce!9"
			},
			"pWebFileName": {
				"type": "string",
				"defaultValue": "token.json"
			},
			"sObjectList": {
				"type": "array",
				"defaultValue": [
					"Account",
					"Contact"
				]
			}
		},
		"variables": {
			"AccessToken": {
				"type": "String"
			},
			"jsonString": {
				"type": "String"
			},
			"jsonSobjectList": {
				"type": "String"
			}
		},
		"folder": {
			"name": "salesforce"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-25T01:42:52Z"
	}
}