pipeline/plSobjectToCsv.json
{
	"name": "plSobjectToCsv",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "dsSalesforceSobject",
						"type": "DatasetReference",
						"parameters": {
							"sObject": "Account"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_StoreJSonFile_objectremoveLine",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"jsonContent": {
							"value": "@activity('Lookup1').output",
							"type": "Expression"
						},
						"pFileName": "looklup.json"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "text",
					"value": {
						"value": "@activity('Lookup1').output.value.Name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsSalesforceSobject",
						"type": "DatasetReference",
						"parameters": {
							"sObject": "Account"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "flattenoutJson",
						"type": "DatasetReference",
						"parameters": {
							"outFile": "out.csv"
						}
					}
				]
			}
		],
		"variables": {
			"text": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "salesforce"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-25T01:53:27Z"
	}
}