pipeline/plSobjectToCsv.json
{
	"name": "plSobjectToCsv",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "dsSalesforceSobject",
						"type": "DatasetReference",
						"parameters": {
							"sObject": "Account"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_StoreJSonFile_objectremoveLine",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"jsonContent": {
							"value": "@activity('Lookup1').output",
							"type": "Expression"
						},
						"pFileName": "looklup.json"
					}
				}
			}
		],
		"folder": {
			"name": "salesforce"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-25T01:53:27Z"
	}
}