pipeline/salesforcegetTo0ken.json
{
	"name": "salesforcegetTo0ken",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@pipeline().parameters.url",
						"type": "Expression"
					},
					"body": {
						"value": "@pipeline().parameters.body",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable entire Json string",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonString",
					"value": {
						"value": "@{activity('Web1').output}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set variable accesstoken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AccessToken",
					"value": {
						"value": "@activity('Web1').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pass token and store  json",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set variable accesstoken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "sobjectRestAPi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"outFile": {
							"value": "@concat(pipeline().parameters.pVerb,'Sobject.json')",
							"type": "Expression"
						},
						"pVerb": {
							"value": "@pipeline().parameters.pVerb",
							"type": "Expression"
						},
						"pAccessToken": {
							"value": "@variables('AccessToken')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "set variable accesstoken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "access_key",
								"value": {
									"value": "@variables('AccessToken')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": {
								"value": "@variables('AccessToken')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "flattenoutJson",
						"type": "DatasetReference",
						"parameters": {
							"outFile": "Key.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "flattenoutJson",
						"type": "DatasetReference",
						"parameters": {
							"outFile": "key1.csv"
						}
					}
				]
			}
		],
		"parameters": {
			"url": {
				"type": "string",
				"defaultValue": "https://d5w0000050tsiea2-dev-ed.my.salesforce.com/services/oauth2/token"
			},
			"body": {
				"type": "string",
				"defaultValue": "grant_type=password&client_id=3MVG95jctIhbyCpo.M5oBPNmMoXIoJEdLTtD9y5UqEWqmzhWCzLySRVZ.SS0Kr12DoRR_3nfxftySKlT0sMnx&client_secret=05393E3026C411587F41159D41D8FD848842A3511555425DD7288DB3D91BB9D3&username=Umesh.Srinivasaiah@sita.aero&password=S@lesForce!9"
			},
			"pVerb": {
				"type": "string",
				"defaultValue": "Account/describe"
			}
		},
		"variables": {
			"AccessToken": {
				"type": "String"
			},
			"jsonString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "salesforce"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-17T23:12:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}